<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Zing Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700">
    <link rel="stylesheet" href="/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" id="main-nav">
        <div class="container-fluid"><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><a class="navbar-brand" href="#"><img src="/assets/img/the-zing-project-logo.png" alt="zing-logo" width="40px" height="40px"></a>
            <div
                class="collapse navbar-collapse d-flex justify-content-start" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Templates</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Signature Request</a></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
        </div>
        <div class="collapse navbar-collapse d-flex justify-content-start justify-content-lg-end" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Logout</a></li>
                <li class="nav-item" role="presentation"></li>
            </ul>
        </div>
        </div>
    </nav>
    <div class="contact-clean">
        <form method="post">
            <h2 class="text-center">New Signature Request</h2>
            <div class="text-center logo-holder"><img src="/assets/img/the-zing-project-logo.png" alt="zing-logo"></div>
            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="text" name="title" placeholder="Title of the Request"></div>
            <div class="form-group"><input class="form-control" type="text" name="subject" placeholder="Subject in the email"></div>
            <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
            <div class="form-group">
                <label>Select Document Template</label>
                <select class="form-control">
                    <% template_list.forEach(templates => { %>
                        <option value= <%= templates[0] %> > <%= templates[1] %> </option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">send </button></div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>